* {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    color: #F2F4F3;
}
body{
    display: flex;
    background-color: rgb(19, 19, 19);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
}

.btn {
  font-size: large;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #403d39;
}

.big {
  grid-column: span 2;
}

.calculator {
  width: 500px;
  border: 2px solid #0A0908;
  padding:  .5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 19);
}

.render {
  display: flex;
  font-size: xx-large;
  height: 2.25rem;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;
}

.render,
.button-grid {
  width: 100%;
  box-sizing: border-box;
}

.operation{
    background-color: #F2F4F3;
    color: #0A0908;
}

